<!-- Теги -->

<!-- Заголовок 1 уровня -->
<h1>
    Hello Flask!
</h1>

<div>
    <h2>структурный тег div</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facilis nisi minima rem numquam sapiente sunt iure dolores molestias expedita. Accusamus, rerum rem? Dolorem nulla in animi quia soluta molestiae!</p>
</div>
<div>
    <h2>структурный тег div</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facilis nisi minima rem numquam sapiente sunt iure dolores molestias expedita. Accusamus, rerum rem? Dolorem nulla in animi quia soluta molestiae!</p>
</div>
<span>строчный элемент 1</span>
<span>строчный элемент 2</span>

<a href="http://google.com" style="color: red;">ссылка</a>
<img src="../static/logo_1.jpg" alt="Лого Реал Мадрид">

<div>
    <a href="http://google.com">
        <img src="../static/logo_1.jpg" alt="Лого Реал Мадрид">
    </a>
</div>

<div>
    <h3 style="background-color: sienna; border: slateblue solid 3px;">Заголовок</h3>
    <p style="border: tomato dashed 3px; width: 50%; height: 100px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, dolor.
    </p>
</div>